@import "tailwindcss";

.page-load-blur {
  animation: blurFadeIn 0.8s ease-in-out forwards;
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

body {
  @apply bg-[#041224] text-white;
  overflow-x: hidden;
  transition-property: opacity, background-color, filter;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-transition{
  opacity: 0;
  background:#020D18;
  filter: blur(10px);
}

.light-theme body {
  @apply bg-white text-black;
}

.font-signature {
  font-family: "Snell Roundhand", "Brush Script MT", cursive;
}

.leaflet-control-attribution {
  display: none !important;
}

@keyframes flashTextYellow {
  0%, 100% {
    color: white;
  }
  20%, 40%, 60%, 80% {
    color: #E6B821;
  }
}

.flash-text-yellow {
  animation: flashTextYellow 1.2s ease-in-out 2;
}

@keyframes flashBorderYellow {
  0%, 100% {
    border-color: transparent;
  }
  20%, 40%, 60%, 80% {
    border-color: #E6B821;
  }
}

.flash-border-yellow {
  animation: flashBorderYellow 1.2s ease-in-out 2;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

