@import "tailwindcss";

/*
body {
  background: #041224;
  color: white;
}
*/
body {
  @apply bg-white text-black;
}

html.dark body {
  @apply bg-[#041224] text-white;
}

.font-signature {
  font-family: "Snell Roundhand", "Brush Script MT", cursive;
}

.leaflet-control-attribution {
  display: none !important;
}

