@import "tailwindcss";

body {
  @apply bg-white text-black;
}

html.dark body {
  @apply bg-[#041224] text-white;
}

.font-signature {
  font-family: "Snell Roundhand", "Brush Script MT", cursive;
}

.leaflet-control-attribution {
  display: none !important;
}

@keyframes flashTextYellow {
  0%, 100% {
    color: white;
  }
  20%, 40%, 60%, 80% {
    color: #E6B821;
  }
}

.flash-text-yellow {
  animation: flashTextYellow 1.2s ease-in-out 2;
}

@keyframes flashBorderYellow {
  0%, 100% {
    border-color: transparent;
  }
  20%, 40%, 60%, 80% {
    border-color: #E6B821;
  }
}

.flash-border-yellow {
  animation: flashBorderYellow 1.2s ease-in-out 2;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}